:root{
    --blue: #01a3d8;
    --yellow: #f9ab32;
    --grey: #777;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    line-height: 1.6;
    color: #222;
    font-family:'Times New Roman', Times, serif;
    background-color: var(--blue);
    border: dashed 3px #333;
    border-radius: 15px;
}
button{
    font-family: 'Times New Roman', Times, serif;
}

/*Transition Bar*/
.transition-bar{
    display: flex;
    justify-content: center;
    border-bottom: dashed 3px #333;
}
.transition-bar button,
.download-btn{
    width: fit-content;
    height: 40px;
    color: white;
    background-color: var(--blue);
    border: solid 3px white;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    /*box-shadow: rgba(3px, 3px, 3px, 3px, 0.7);*/
}
.transition-bar p{
    margin-top: 25px;
    font-weight: 800;
    font-size: large;
    color: #eee;
}
.transition-bar button:hover,
.download-btn:hover{
    background-color: var(--yellow);
}

.transition-bar a,
.download-btn a{
    text-decoration: none;
    color: #111;
}

/*Head*/
.head{
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 0;
    text-align: center;
    background-color: #eee;
    border-radius: 15px;
}
.head h2{
    margin-bottom: 0;
}

/*Container Overview*/

.container-overview{
    background-color: #eee;
}

/*Analysis 1*/

.container-overview-1,
.container-overview-2,
.container-overview-3{
    background-color: #eee;
    border-radius: 15px;
}

.container-overview-1 hr,
.container-overview-2 hr,
.container-overview-3 hr{
    margin: 0;
}

.container-overview-1 .analysis-title{
    margin-left: 7vw;
}
.container-overview-1 .chart,
.container-overview-2 .chart,
.container-overview-3 .chart{
    display: flex;
    justify-content: space-evenly;
    background-color: #eee;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container-overview-1 h1 span,
.container-overview-2 h1 span,
.container-overview-3 h1 span{
    border-bottom: solid 5px;
    border-bottom-color: var(--yellow);
}
.container-overview-1 .left,
.container-overview-2 .left,
.container-overview-3 .left{
    width: 30vw;
    margin-left: 5vw;
}
.container-overview-1 .right,
.container-overview-2 .right,
.container-overview-3 .right{
    width: 60vw;
    height: 45vw;
    margin-left: 7vw;
    position: relative;
}
.container-overview-1{
    margin-bottom: 0;
}
.container-overview-2,
.container-overview-3{
    padding-top: 0;
}

.container-overview-2 .analysis2-title{
    margin-top: 0;
    margin-left: 7vw;
}
.container-overview-3 .analysis3-title{
    margin-top: 0;
    margin-left: 7vw;
}

.container-overview-1 + hr,
.container-overview-2 + hr{
    margin: 0;
}


/*Charts*/

iframe {
    width: 100%;
    height: 40vw;
    border: none;
    margin-top: 20px;
    border: none;
    opacity: 0;
    animation: showChart 0.5s ease forwards;
    animation-delay: 7s;
}

.loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: hideLoader 0.5s ease forwards;
    animation-delay: 5s;
}
.loader {
    width: 50px;
    height: 50px;
    border: 6px solid #ddd;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}

@keyframes hideLoader {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes showChart {
    to {
        opacity: 1;
    }
}
