:root{
    --blue: #01a3d8;
    --yellow: #f9ab32;
    --grey: #777;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    line-height: 1.6;
    color: #222;
    font-family:'Times New Roman', Times, serif;
    background-color: var(--blue);
    border: dashed 3px #333;
    border-radius: 15px;
}
button{
    font-family: 'Times New Roman', Times, serif;
}
/*Container Main*/

.container-main{
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: dashed 3px #333;
}
.container-main .logo img{
    width: 33vw;
    height: 25vw;
}
.container-main .logo{
    margin-top: 10vh;
    margin-right: 3vw;
}

header{
    background-color: #eee;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
    max-width: 60vw;
}
header h1 span{
    border-bottom: solid 5px;
    border-bottom-color: var(--yellow);
}
header h1{
    font-size: 50px;
}
header h2{
    font-style: italic;
    font-size: 25px;
}
h1, h2 {
color: #111;
}
header p{
    font-size: 20px;
}
header div{
    display: flex;
    justify-content:space-evenly;
}
.and{
    font-size: xx-large;
}
.ismail,
.layla{
    color: white;
    border: solid 3px white;
    width: 150px;
    height: 50px;
    border-radius: 30px;
}
.ismail{
    background-color: var(--blue);
}
.layla{
    background-color: var(--yellow);
}

/*Transition Bar*/
.transition-bar,
.navigation-bar{
    display: flex;
    justify-content: center;
    border-bottom: dashed 3px #333;
}

.transition-bar button,
.navigation-bar button{
    width: fit-content;
    height: 40px;
    color: white;
    background-color: #eee;
    border: solid 3px white;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    font-weight: 600;
    /*box-shadow: rgba(3px, 3px, 3px, 3px, 0.7);*/
}
.transition-bar p{
    margin-top: 25px;
    font-weight: 800;
    font-size: large;
    color: #eee;
}
.transition-bar button:hover,
.navigation-bar button:hover{
    background-color: var(--yellow);
}
.transition-bar a,
.navigation-bar a{
    text-decoration: none;
    color: #111;
}
/*Container Purpose*/
.container-purpose{
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding-bottom: 10vh;
}
.container-purpose h1 span{
    border-bottom: solid 5px;
    border-bottom-color: var(--yellow);
}
.container-purpose .left,
.container-purpose .right{
    width: 40vw;
    margin-right: 7vw;
}
.container-purpose img{
    width: 400px;
    height: 500px;
    margin-left: 7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-purpose{
    padding-top: 10vh;
    position: relative;
}
.container-purpose p{
    font-size: large;
}
.container-purpose .circle{
    width: 50px;
    height: 50px;
    color: #111;
    background-color: var(--yellow);
    /*opacity: 0.95;*/
    border: none;
    border-radius: 50%;
    font-size: 45px;
    position: relative;
    left: -60px;
    top: 75px;
}

/*Container Questions*/

.container-questions{
    display: flex;
    justify-content:center;
    background-color: #eee;
    padding-bottom: 10vh;
}

.container-questions img{
    width: 500px;
    height: 400px;
    margin-right: 7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 3vw;
}

.container-questions h1 span{
    border-bottom: solid 5px;
    border-bottom-color: var(--yellow);
}
.container-questions .left,
.container-questions .right{
    width: 40vw;
}
.container-questions .left{
    margin-left: 8vw;
}

.container-questions .circle{
    width: 50px;
    height: 50px;
    color: #111;
    background-color: var(--yellow);
    /*opacity: 0.95;*/
    border: none;
    border-radius: 50%;
    font-size: 45px;
    position: relative;
    left: -60px;
    top: 75px;
}

.scroll{
    width: fit-content;
    height: 50px;
    color: white;
    background-color: var(--yellow);
    border: none;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    font-weight: 600;
}
.scroll a{
    font-size: large;
    text-decoration: none;
    color: white;
}

/*Head*/
.head{
    width: 100%;
    padding-top: 10vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    background-color: #eee;
}
.head h2{
    margin-bottom: 0;
}
.head h1 span{
    border-bottom: 5px solid var(--yellow);
}
.head .circle{
    width: 50px;
    height: 50px;
    color: #111;
    background-color: var(--yellow);
    /*opacity: 0.95;*/
    border: none;
    border-radius: 50%;
    font-size: 45px;
    position: relative;
    top: 15px;
}

/*Container Overview*/

.container-overview{
    background-color: #eee;
}

/*Container Findings*/
.container-findings{
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding-bottom: 10vh;
}
.container-findings h1 span{
    border-bottom: solid 5px;
    border-bottom-color: var(--yellow);
}
.container-findings .left{
    width: 45vw;
    margin-left: 5vw;
}
.container-findings img{
    width: 40vw;
    height: 600px;
    margin-top: 10vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container-findings .right{
    width: 35vw;
    margin-right: 5vw;
}

.container-findings{
    padding-top: 10vh;
    position: relative;
}
.container-findings p{
    font-size: large;
}
.container-findings .circle{
    width: 50px;
    height: 50px;
    color: #111;
    background-color: var(--yellow);
    /*opacity: 0.95;*/
    border: none;
    border-radius: 50%;
    font-size: 45px;
    position: relative;
    left: -60px;
    top: 75px;
}

/*Container Resources*/
.thanks{
    padding-bottom: 5vh;
    margin-bottom: 0;
}
.tools-resources{
    display: flex;
    justify-content: center;
}

.tools,
.links,
.resources{
    width: 30%;
    height: 100%;
    text-align: left;
}
.resources ul{
    list-style: none;
}
.tools{
    margin-left: 5vw;
}
.links a{
    color: #111
}
.csv{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 0;
}